.container{
    display: flex;
    width: 100%;
    /* background-color: yellow;
    border: 2px solid red; */
    justify-content: center;
}
.table{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
}
.heading{
    display: flex;
    justify-content: center;
}
.line{
    width: 100%;
    border: 2px solid rebeccapurple;
}
.mainContent{
    flex-direction: column;
    display: flex;
}
.addTask{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
#myInput{
    width: 70%;
    height: 80%;
}
.btn {
    width: 15%;
    height: 110%;
}
li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
    
}
#removeBtn{
    margin-right: 20px; 
    height: 45px;
    padding: 12px 16px 12px 16px;
}
